Hitachi_DotNet_Practical_Assignment.PL/Connected Services/UserServiceWCF/Hitachi_DotNet_Practical_Assignment.DAL.Models.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hitachi_DotNet_Practical_Assignment.DAL.Models.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hitachi_DotNet_Practical_Assignment.DAL.Models.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SignInDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignInDTO" nillable="true" type="tns:SignInDTO" />
  <xs:complexType name="SignUpDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignUpDTO" nillable="true" type="tns:SignUpDTO" />
</xs:schema>